<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MorPhy2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>morphylib.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>morphytest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5115BC7A1ECCA7CC00014306</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5117C8321EC1B722007AE2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516F2B211EACDD0200345BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51764B701EBEF8440018D394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51C03E901ECCA69A009E3F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
